.form
{
	background-color:#EAECEE;
	position: relative;
	top: 10px;
	border: 2px solid #2980B9;
	height: 300px;
	margin: auto;	
	width: 550px;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px;
	
}

.form select
{
	margin:20px 40px;
	height: 25px;
background-color:  #EAF2F8;
}
.form label
{
	margin-right: -25px;
}
.form input[type=date]
{
	margin-left: -350px;
	margin-top: 25px;
	height: 25px;
	background-color:  #EAF2F8;
}

.form input[type=submit]
{
	margin-top: 60px;
	width: 400px;
	height: 30px;
	font-size: 16px;
	border-radius: 20px;
	color: white;
	background: rgb(0,0,0,0.5);
	cursor: pointer;
	border: none;
	
}




p{
	margin-top: 30px;
	color :#250F4A;
	font-size: 20px;
}